<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactnativejitsimeet">
    <application>
        <activity
            android:name="com.reactnativejitsimeet.MyJitsiMeetActivity"
            android:label="My Jitsi Meet Activity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
    </application>
</manifest>
