<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactnativejitsimeet">
    <application>
        <activity
            android:name="com.reactnativejitsimeet.MyJitsiMeetActivity"
            android:label="My Jitsi Meet Activity"
            android:launchMode="standard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
    </application>
</manifest>
